<%- include('../include/pickUpDash-head',{pageTitle: pageTitle, pickUpInfo:pickUpInfo.name}); -%>
<div class="content">
    <div class="container-fluid" style="padding-left: 300px;">
        <div class="row">
<div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="javascript:;">
          <img class="img" src="https://img.icons8.com/plasticine/2x/user.png" />
        </a>
      </div>
      <div class="card-body">
        <h2 class="card-category text-gray"><%=pickUpInfo.name%></h2>
        <h4 class="card-title"><%=pickUpInfo.phone%></h4>
        <h4 class="card-title"><%=pickUpInfo.email%></h4>
        <p >  
            <%=pickUpInfo.address.addressLineOne%>
            <%=pickUpInfo.address.addressLineTwo%>
            <%=pickUpInfo.address.landmark%>
            <%=pickUpInfo.address.city%>
            <%=pickUpInfo.address.state%>
            <%=pickUpInfo.address.pincode%>
            
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<%- include('../include/pickUpDash-footer'); -%>